In [1]:
import pandas as pd

In [2]:
#importing dataset from csv
vine_table_df = pd.read_csv("vine_table.csv")
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
#filtering dataset for total_votes greater or equal to 20; putting into new dataframe
above_twenty_df = vine_table_df[vine_table_df["total_votes"] >= 20]
above_twenty_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [4]:
#creating new dataframe and adding a "percent_helpful" column
helpful_votes_df = above_twenty_df
helpful_votes_df["percent_helpful"] = helpful_votes_df["helpful_votes"] / helpful_votes_df["total_votes"]
helpful_votes_df

C:\Users\Seva\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
289,R3EZ0EPYLDA34S,1,14,31,N,Y,0.451613
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
...,...,...,...,...,...,...,...
1785688,R3GYUWLD9FWCPS,5,30,30,N,N,1.000000
1785714,R26KS4Q9G04FIV,2,8,21,N,N,0.380952
1785788,RU0J1ZMBCLD27,5,27,29,N,N,0.931034
1785806,R1D69XH2THYKTG,5,18,20,N,N,0.900000
1785935,R3U5C85OV6BUKM,4,38,43,N,N,0.883721

In [5]:
#filtering the percent_helpful column to be greater or equal to 50%
helpful_votes_df = helpful_votes_df[helpful_votes_df["percent_helpful"] >= 0.5]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615
...,...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N,0.900000
1785688,R3GYUWLD9FWCPS,5,30,30,N,N,1.000000
1785788,RU0J1ZMBCLD27,5,27,29,N,N,0.931034
1785806,R1D69XH2THYKTG,5,18,20,N,N,0.900000
1785935,R3U5C85OV6BUKM,4,38,43,N,N,0.883721

In [6]:
#filtering for reviews that are part of the vine program; putting these into a new dataframe
vine_reviews_df = helpful_votes_df[helpful_votes_df["vine"] == 'Y']
vine_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful
32611,R3KKUSGFZWSUIY,5,56,63,Y,N,0.888889
33112,R10FO5UKKVZBK2,3,23,23,Y,N,1.000000
69680,RM4KSGEOR7MU1,5,19,24,Y,N,0.791667
155361,RG7VRMYLEXD23,4,22,26,Y,N,0.846154
239327,R11O4YSCPSNL6L,3,20,26,Y,N,0.769231
...,...,...,...,...,...,...,...
1456862,RLPTVGLU0JQIP,3,42,45,Y,N,0.933333
1463333,R3ASJ9SENYYYI0,5,40,46,Y,N,0.869565
1481162,RNU8PK609WT6P,4,347,362,Y,N,0.958564
1506354,R8YT75NJW0CM9,4,37,40,Y,N,0.925000
1506642,R2EDL85YVF0PRA,5,23,32,Y,N,0.718750

In [7]:
#filtering for reviews that are not part of the vine program; putting these into a new dataframe
non_vine_reviews_df = helpful_votes_df[helpful_votes_df["vine"] == 'N']
non_vine_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,percent_helpful
55,R4PKAZRQJJX14,1,21,34,N,N,0.617647
74,R2CI0Y288CC7E2,1,21,35,N,Y,0.600000
209,R127WEQY2FM1T3,1,147,175,N,Y,0.840000
483,R2FJ94555FZH32,2,55,60,N,N,0.916667
537,R1U3AR67RE273L,1,51,65,N,Y,0.784615
...,...,...,...,...,...,...,...
1785641,RCMDCDJR16IKW,4,27,30,N,N,0.900000
1785688,R3GYUWLD9FWCPS,5,30,30,N,N,1.000000
1785788,RU0J1ZMBCLD27,5,27,29,N,N,0.931034
1785806,R1D69XH2THYKTG,5,18,20,N,N,0.900000
1785935,R3U5C85OV6BUKM,4,38,43,N,N,0.883721

In [10]:
vine_review_count = vine_reviews_df["vine"].count()
vine_fivestar_review_count = vine_reviews_df[vine_reviews_df["star_rating"] == 5]["vine"].count()
vine_fivestar_percentage = vine_fivestar_review_count / vine_review_count
print(f"There are {vine_review_count} Vine program reviews, {vine_fivestar_review_count} of which are five star reviews. Five star reviews make up {vine_fivestar_percentage*100:.1f}% of the Vine reviews.")

There are 94 Vine program reviews, 48 of which are five star reviews. Five star reviews make up 51.1% of the Vine reviews.

In [11]:
non_vine_review_count = non_vine_reviews_df["vine"].count()
non_vine_fivestar_review_count = non_vine_reviews_df[non_vine_reviews_df["star_rating"] == 5]["vine"].count()
non_vine_fivestar_percentage = non_vine_fivestar_review_count / non_vine_review_count
print(f"There are {non_vine_review_count} unpaid reviews, {non_vine_fivestar_review_count} of which are five star reviews. Five star reviews make up {non_vine_fivestar_percentage*100:.1f}% of the unpaid reviews.")

There are 40471 unpaid reviews, 15663 of which are five star reviews. Five star reviews make up 38.7% of the unpaid reviews.